@{
    ViewData["Title"] = "Home Page";
}

<table> 
    <tr>
        @foreach(var dataColumn in ViewBag.barnTable.Columns) 
        {
            <th>@dataColumn.ColumnName</th>
        }
        <th>Delete Child</th>
    </tr>
    @foreach(var barnRow in ViewBag.barnTable.Rows) 
    {
        <tr>
            @for (int i = 0; i < ViewBag.barnTable.Columns.Count; i++)
            {
                <td>@barnRow[i]</td>
            }
        
          <td>
            <form method="post" action="@Url.Action("DeleteChild", "Home")">
                <input type="hidden" value="@barnRow[0]" name="PNR"/>
                <input type="hidden" value="@barnRow[1]" name="name"/>
                <input type="submit" value="Delete Child" />
            </form>
              
          </td>
        </tr>

    }
</table>

<table>
    <tr>
        @foreach (var childRelationColumn in ViewBag.childRelationTable.Columns)
        {
            <th>@childRelationColumn.ColumnName</th>
        }
    </tr>

    @foreach (var childRelationRow in ViewBag.childRelationTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.childRelationTable.Columns.Count; i++)
            {
                <td>@childRelationRow[i]</td>
            }
        </tr>
    }
</table>
<a asp-controller="Home" asp-action="CreateChildView">Create Child</a>